
__pycache__/*
docs/sphinx-build.exe
*.pyc
.vscode/settings.json
examples/colorful_rect.ppm
examples/colorful_rect.ppm
examples/colorful_rect.ppm
*.ppm
examples/Screenshot 2021-11-27 213205.png
__main__.py
